<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="card ml-auto">
        <div class="card-header bg-success text-white d-flex">إنشاء حساب لأولياء</div>
        <div class="card-body white" >
          <form #userForm="ngForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                  <label for="username" class="d-flex">اسم المستخدم</label>
                  <input type="text" class="form-control" id="username" [(ngModel)]="username" name="username" placeholder="اسم المستخدم" required>
                </div>                  
            <div class="form-group" >
              <label for="email" class="d-flex">عنوان البريد الإلكتروني</label>
              <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email" placeholder="أدخل البريد الإلكتروني" required>
            </div>
            <div class="form-group">
              <label for="password" class="d-flex">كلمة المرور</label>
              <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password" placeholder="كلمة المرور" required>
            </div>
            <div class="form-group" >
              <label for="confirmPassword" class="d-flex">تأكيد كلمة المرور</label>
              <input type="password" class="form-control" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="تأكيد كلمة المرور" required>
            </div>
            <div class="form-group">
              <label for="phoneNumber" class="d-flex">رقم الهاتف</label>
              <input type="text" class="form-control" id="phoneNumber" [(ngModel)]="phoneNumber" name="phoneNumber" placeholder="رقم الهاتف" required>
            </div>
            <div class="form-group">
              <label for="city" class="d-flex">ولاية</label>
              <select (click)="getstate()" class="form-control" id="city" [(ngModel)]="selectedCity" name="city" required>
                <option [value]="state.governorate" *ngFor="let state of state">{{state.governorate}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="region" class="d-flex">معتمدية</label>
              <select (click)="getdelegation()" class="form-control" id="region"  name="region" required>
                <option  *ngFor="let delegation of delegation">{{delegation.delegation}}</option>
              </select>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid" routerLink="/login">إنشاء حساب</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
